@media(max-width: 1024px) {

    /*Nav and main*/

    .navbar-nav {
        margin-left: -15px;
    }
    .navbar-brand img {
        width: 70%;
        height: 90%;
    }
    .text-main h1, .main_text_service, .main_text_blog {
        font-size: 25px;
    }
    .down-paragraph-main, .paragraph_service, .paragraph_blog {
        font-size: 15px;
    }
    .btn-sign a, .btn-service a, .btn-main {
        padding: 5px 20px;
    }
    .btn-main {
        margin-right: 10px;
        font-size: 14px;
    }
    .main-content img, .service_content img, .slider_inner img, .blog_inner img {
        width: 40%;
        height: 40%;
    }

    .image-partners {
        display: flex;
    }
    .image-partners img {
        width: 19%;
    }

    /*service*/
    .btn-service {
        margin-top: 30px;
    }

    /*cards*/
    .slider_main_text {
        font-size: 17px;
        padding-top: 30px;
    }
    .slider_inner {
        padding: 40px 5px;
    }
    .paragraph_slider {
        font-size: 13px;
    }
    /*blog*/

    .blog {
        margin-top: 80px;
        margin-bottom: -150px;
    }
    .main_text_blog {
       padding-bottom: 10px;
    }
    .paragraph_blog {
        padding-top: 5px;
    }

    /*footer*/
    .left_side {
        margin-right: 30px;
    }
    .left_side img {
        width: 70%;
        height: 20%;
    }
    .paragraph_footer, .contact, .paragraph_about_footer, .link_site, .language {
        font-size: 13px;
    }
    .contact i, .fa-globe {
        display: none;
    }
    .footer_menu {
        width: 70%;
    }
    .information_footer, .footer_menu, .useful_links_footer {
        padding-left: 1em;
    }
    .main_text_links {
        font-size: 18px;
    }
    .link_footer {
        font-size: 12px;
    }
}
@media (max-width: 768px) {

    /*Nav and main*/

    .navbar-brand img {
        width: 50%;
        height: 70%;
    }
    .main {
        padding-top: 50px;
    }
    .text-main h1, .main_text_service, .main_text_blog {
        font-size: 14px;
    }
    .up-paragraph-main, .down-paragraph-main, .paragraph_service, .paragraph_blog {
        font-size: 12px;
    }
    .btn-service a, .btn-main {
        font-size: 10px;
        padding: 3px 13px;
    }

    /*cards*/

    .slider_main_text {
        font-size: 12px;
        padding-top: 15px;
    }
    .slider_inner {
        padding: 20px 5px;
    }
    .paragraph_slider {
        font-size: 11px;
    }

    /*footer*/
    .information {
        margin-right: 20px;
    }
    .footer_menu {
        margin-right: -30px;
    }
    .left_side img {
        width: 50%;
        height: 10%;
    }
    .paragraph_footer, .contact, .paragraph_about_footer, .link_site, .language {
        font-size: 9px;
    }
    .footer_menu {
        width: 80%;
    }
    .information_footer, .footer_menu, .useful_links_footer {
        padding-left: 1em;
    }
    .main_text_links {
        font-size: 13px;
    }
    .link_footer {
        font-size: 9px;
    }
}